body{
    font-family: 'Roboto', sans-serif;
}


.container{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr;
    /* gap: 4px; */
}

/* .container div{
  font-weight: bold;
} */

.header{
    /* padding:16px 32px; */
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr 1fr;
  /* border: 2px solid black; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* height: clamp(150px,30%,300px); */
  font-weight: bold;
  padding: 32px;
}

.search-bar{
    grid-column: 1 / 2;
}

.account{
    grid-column: 2 / 3;
}

.hello-message{
    grid-column: 1 / 2;
    padding: 16px;
}

.hi-there{
    font-size: 12px;
}

.account{
    justify-self: end;
}

.header-buttons{
    grid-column: 2 / 3;
    /* border: 2px solid blue; */
}

.sidebar{
    background-color: #0ea5e9;
    color: white;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 5% 40% 1fr;
    gap: 10px;
    height: 100vh;
    padding: 15px 30px;
    font-weight: bold;
}

.dashboard{
    font-size: 32px;
}

.sidebar li, .sidebar div, .sidebar ul{
    justify-self: start;
    padding: 12px 0;
}

.side-menu-1, .side-menu-2{
    font-size: 18px;
}

ul, li {
  list-style-type: none;
}


.header-buttons button{
    background-color:  #0ea5e9;
    color: white;
    padding: 12px 0;
    /* width: clamp(50px,30%,200%); */
    width: 100px;
    border-radius: 20px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}

.header-buttons > ul {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 2px; */
}

.header-buttons li{
    justify-self: center;
    /* width: 100%; */
}

input{
    width: 40vw;
    background-color: rgb(240, 237, 237);
    border: none;
    border-radius: 20px;
    padding: 5px;
}

.main-content{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr;
    grid-column: 2 / 3;
    background-color: antiquewhite;
    height: 94%;
    /* border: 2px solid black; */
    /* height: 100%; */
}

.projects{
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3% 1fr;
  gap: 15px;
  /* border: 2px solid black; */
  /* width: clamp(300px,80%,500px); */
  margin: 16px;
}

.your-projects{
    margin: 16px 0 ;
    font-size: 18px;
    font-weight: bold;
    /* padding: 10px; */
}

.announcements-title, .trending-title{
    margin: 6px 0 ;
    font-size: 18px;
    font-weight: bold;
}

.cards{
    grid-column: 1fr;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 25px;
    margin: 8px 0;
    /* padding: 16px 0; */
    /* border: 2px solid red; */
}


.card{
    /* grid-row: 2 / 4; */
    /* height: clamp(50px,150px,200px); */
    /* border: 2px solid black;
     */
    border-radius: 8px;
    border-left: solid 7px rgb(234, 171, 76);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 16px;
}

.right-side{
    grid-column: 2 / 3;
    /* width: 20%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    margin: 16px;
    /* padding: 8px; */
}

.announcements, .trending{
    /* grid-column: 3 / 4; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6% 1fr;
    gap: 15px;
    margin: 8px 0;
}

/* .announcements-title{
    padding: 10px;
} */

.announcements-text, .trending-text{
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 32px;
    font-weight: bold;
    font-size: 12px;
    /* margin: 8px 0; */
    /* border: 8px; */
}

.announcements-text{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
}

.trending-text{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.ann-text-1, .ann-text-2{
    border-bottom: 2px solid gray;

}

.card-title, .card-text{
    padding: 12px;
}

.card-title{
    font-weight: bold;
}

.card-text{
    font-size: 16px;
    color: gray;
}